@model Student

<h1>ABOUT</h1>

<table class="table">
	<tr>
		<td>Id</td>
		<td>@Model.Id</td>
	</tr>

	<tr>
		<td>First Name</td>
		<td>@Model.FirstName</td>
	</tr>

	<tr>
		<td>Last Name</td>
		<td>@Model.LastName</td>
	</tr>

	<tr>
		<td>Department</td>
		<td>@Model.Department</td>
	</tr>
</table>

<!--
	by viewbag
<table class="table">
	<tr>
		<td>Id</td>
		<td>@ViewBag.id</td>
	</tr>
	
	<tr>
		<td>First Name</td>
		<td>@ViewBag.firstName</td>
	</tr>
	
	<tr>
		<td>Last Name</td>
		<td>@ViewBag.lastName</td>
	</tr>
	
	<tr>
		<td>Department</td>
		<td>@ViewBag.department</td>
	</tr>
</table>
-->